- if Rails.env.production?
  - unless AppConfig["google_analytics_id"].blank?
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{AppConfig["google_analytics_id"]}']);
      _gaq.push(['_setDomainName', '#{HOST}']);
      _gaq.push(['_trackPageview']);